<nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">
  <button (click)="toggleCollapse()" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#containerNavbar" aria-controls="containerNavbar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Banner -->
  <a class="navbar-brand" routerLink="/" >Time Tracking App</a>

  <div class="collapse navbar-collapse" [class.show]="show" id="containerNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Show Tasks
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/task">Add Task</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/task">Export Tasks</a>
      </li>
    </ul>
  </div>
</nav>
<!-- Flash messages Plugin -->