<nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light bg-light">
  <button (click)="toggleCollapse()" class="navbar-toggler" 
    type="button" data-toggle="collapse" data-target="#containerNavbar" aria-controls="containerNavbar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Banner -->
  <a class="navbar-brand mb-0 h1" routerLink="/" >Time Tracking App</a>

  <div class="collapse navbar-collapse" [class.show]="show" id="containerNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Show Tasks
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/task">Add Task</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [href]="exportCsv">Export Tasks</a>
      </li>
    </ul>
  </div>
</nav>