<h1>New Task</h1>
<p></p>
<form #f="ngForm" (ngSubmit)="addTask(f.value)">
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Title</label>
      <div class="col-6">
        <input #title="ngModel" ngModel name="title" class="form-control" type="text" placeholder="What needs to be done" id="title" required>
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid" style="margin-top:10px">
          Title not valid.
        </div>
      </div>
      <small id="passwordHelpInline" class="col-4 col-form-label text-muted">
        Must be 5-50 characters long.
      </small>
    </div>
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Description</label>
      <div class="col-6">
        <input #description="ngModel" ngModel name="description" class="form-control" type="text" placeholder="Give an explanation" id="description">
        <div class="alert alert-danger" *ngIf="description.touched && description.invalid" style="margin-top:10px">
          Description not valid.
        </div>
      </div>
      <small id="passwordHelpInline" class="col-4 col-form-label text-muted">
        Optional but must be 10-200 characters long if provided.
      </small>
    </div>
    <div class="form-group row">
      <label for="typeSelect" class="col-2 col-form-label">Type</label>
      <div class="col-6">
        <select ngModel name="type" class="form-control" id="typeSelect">
          <option selected>Task</option>
          <option>Event</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="typeSelect" class="col-2 col-form-label">Auto-Start</label>
      <div class="col-6 col-form-label">
        <label class="custom-control custom-checkbox">
            <input ngModel name="active" type="checkbox" class="custom-control-input" checked>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description text-muted">Start Task after creation?</span>
        </label>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Add Task</button>
      </div>
    </div>
</form>